*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header{
    height: 80px;
    width: 100%;
}
header button{
    margin-top: 20px;
    float: left;
    margin-left: 150px;
    border: 1px solid black;
    background-color: transparent;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: black;
    height: 37px;
    width: 140px;
}
header nav {
    height: 100%;
    line-height: 80px;
    width: 45%;
    float: left;
    margin-left: 120px;
    word-spacing: 25px;
    display: inline-block;
}
header nav a{
    font-size: 14px;
    letter-spacing: 2px;
    text-decoration: none;
    color: rgb(68, 65, 65);
}
header h6{
    display: inline-block;
    height: 17px;
    width: 17px;
    position: relative;
    bottom: 11px;
    background-color: red;
    padding-top: 3px;
    font-size: 10px;
    padding-left: 6px;
    border-radius: 50%;
    color: white;
}
.sec1{
    height: 500px;
    background-color: rgb(249,249,249);
    width: 100%;
    border: 1px solid rgb(249,249,249);
}
.sec1 .img{
    height: 500px;
    width: 40%;
    float: left;
    overflow: hidden;
    margin-left: 100px;
}
.sec1 .img img{
    height: 900px;
    width: 100%;
}
.sec1 .tex{
    height: 170px;
    margin-left: 650px;
    width: 450px;
    margin-top: 150px;
}
.sec1 .tex h6{
    font-size: 13px;   
    text-align: center;
    letter-spacing: 2px;
    color: black;
    font-weight: 100;
}
.sec1 .tex h1{
    font-size: 55px;
    letter-spacing: 1px;
    margin-top: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    text-align: center;
}
.sec1 .tex button{
    padding: 11px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    border: none;
    width: 100px;
    font-size: 12px;
    margin-left: 170px;
}
.sec2{
    height: 800px;
    width: 100%;
    /* border: 1px solid; */
}
.sec2 .m1{
    height: 90px;
    margin-top: 50px;
    margin-left: 100px;
    width: 280px;
    /* border: 5px solid; */
    border-left: 5px solid rgb(198, 16, 16);
}
.sec2 .m1 h2{
    font-size: 27px;
    line-height: 1.5;
    margin-top: 10px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 20px;
}
.sec2 .g1{
    height: 550px;
    width: 85%;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
    margin-left: 8%;
}
.sec2 .g1 .t1{
    height: 100%;
    width: 68%;
    overflow: hidden;
    margin-left: 0px;
    background-color: rgb(249,249,249);
    margin-top: 0px;
    /* border: 1px solid red; */
}
.sec2 .g1 .t1 img{
    height: 88%;
    margin-left: 25%;
    width: 300px;
    margin-top: 65px;
}
.sec2 .g1 .t2{
    height: 100%;
    width: 29%;
    /* border: 1px solid green; */
}
.sec2 .g1 .t2 .i1{
    height: 47%;
    overflow: hidden;
    flex-basis: 100%;
    /* border: 1px solid red; */
    background-color: rgb(249,249,249);
}
.sec2 .g1 .t2 .i1 img{
    height: 270px;
    width: 220px;
    margin-left: 40px;
    margin-top: 50px;
}
.sec3 {
    height: 1000px;
    width: 100%;
    /* border: 1px solid; */
}
.sec3 .m1{
    height: 50px;
    margin-top: 50px;
    margin-left: 100px;
    width: 320px;
    /* border: 5px solid; */
    border-left: 5px solid rgb(198, 16, 16);
}
.sec3 .m1 h2{
    font-size: 27px;
    line-height: 1.5;
    margin-top: 10px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 20px;
}
.sec3 .main{
    height: 400px;
    width: 84%;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid; */
    margin-left: 8%;
}
.sec3 .main .pic{
    height: 100%;
    flex-basis: 31.5%;
    /* border: 1px solid red; */
}
.sec3 .main .pic .img{
    height: 80%;
    flex-basis: 100%;
    overflow: hidden;
    background-color: rgb(249,249,249);
}
.sec3 .main .pic .img img{
    height: 350px;
    margin-left: 50px;
    margin-top: 50px;
    width: 70%;
}
.sec3 .main .pic  h3{
    font-size: 17px;
    color: rgb(128,130,144);
    margin-top: 14px;
    font-weight: 100;
}
.sec3 .main .pic  h5{
    font-size: 15px;
    margin-top: 7px;
    color: black;
}
.sec4{
    height: 600px;
    width: 100%;
    /* border: 1px solid blue; */
    position: absolute;
    margin-top: 955px;
}
.sec4 .k1{
    height: 5px;
    width: 60px;
    margin-left: 47%;
    border: none;
    margin-top: 10px;
    background-color: rgb(238,66,102);
}
.sec4 .main{
    height: 400px;
    width: 84%;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid; */
    margin-left: 8%;
}
.sec4 .main .pic{
    height: 100%;
    flex-basis: 31.5%;
    /* border: 1px solid red; */
}
.sec4 .main .pic .img{
    height: 80%;
    flex-basis: 100%;
    overflow: hidden;
    background-color: rgb(249,249,249);
}
.sec4 .main .pic .img img{
    height: 350px;
    margin-left: 50px;
    margin-top: 50px;
    width: 70%;
}
.sec4 .main .pic  h3{
    font-size: 17px;
    color: rgb(128,130,144);
    margin-top: 14px;
    font-weight: 100;
}
.sec4 .main .pic  h5{
    font-size: 15px;
    margin-top: 7px;
    color: black;
}
.sec4 .ar{
    font-size: 30px;
    color: rgb(193, 193, 193);
    margin-top: 10px;
    margin-left: 555px;
} 
.sec4 .ar1{
    font-size: 30px;
    color: rgb(0, 0, 0);
    margin-top: 10px;
    margin-left: 10px;
} 
.sec5{
    height: 470px;
    position: relative;
    margin-top: 1600px;
    width: 100%;
    background-color: rgb(249,249,249);
    border: 1px solid rgb(249,249,249);
}
.sec5 .img{
    height: 470px;
    width: 40%;
    float: left;
    /* border: 1px solid; */
    overflow: hidden;
    margin-left: 100px;
}
.sec5 .img img{
    margin-top: 30px;
    height: 600px;
    width: 100%;
}
.sec5 .tex{
    height: 170px;
    margin-left: 650px;
    width: 450px;
    margin-top: 170px;
}
.sec5 .tex h6{
    font-size: 13px;   
    text-align: center;
    letter-spacing: 2px;
    color: black;
    font-weight: 100;
}
.sec5 .tex h1{
    font-size: 55px;
    letter-spacing: 1px;
    margin-top: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    text-align: center;
}
.sec5 .tex button{
    padding: 11px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    border: none;
    width: 100px;
    font-size: 12px;
    margin-left: 170px;
}
footer{
    height: 400px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
footer .f1{
    margin-top: 60px;
    height: 300px;
    /* border: 1px solid; */
    width: 33%;
}
footer .f1 h5{
    font-size: 13px;   
    margin-left: 90px; 
    letter-spacing: 2px;
    color: black;
    font-weight: 100;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
footer .f1 .pic{
    height: 130px;
    margin-top: 20px;
    margin-left: 90px;
    background-image: url(img/about_1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    width: 230px;
}
footer .f1 p{
    font-size: 17px;
    color: red;
    margin-left: 90px;
    font-weight: 200;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
footer .f1 h6{
    font-size: 14px;
    margin-left: 90px;
    font-weight: 100;
    color: rgb(81, 82, 82);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
footer .f1 pre{
    font-size: 14px;
    line-height: 2.2;
    color: rgb(78, 78, 78);
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
footer .f1 .p1{
    font-size: 14px;
    line-height: 1.5;
    color: rgb(78, 78, 78);
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
footer .f1 .p1 i{
    font-size: 17px;
}
.z1{
    margin-top: 10px;
}
.z1 input {
    margin-left: 45px;
    height: 40px;
    border-radius: 3px;
    border: 1px solid grey;
    width: 200px;
}
.z1 button{
    width: 50px;
    font-size: 12px;
    color: white;
    height: 32px;
    background-color: rgb(198, 32, 68);
    margin-left: -57px;
    border: none;
    border-radius: 3px;
}
